.project-wrapper{
    padding: 20vh 0;

}

#projects-main{
    text-align: center;
}

#projects-main h1{
    font-family: 'sLABS-bold';
    font-size: 80px;
}


.projects-link{
    margin-top:4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.link-grid{
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.model-container{
    height: 40vh;
}

.project-info{
    padding: 4rem 2rem ;
    animation: slide-up 2s cubic-bezier(0.65, 0, 0.35, 1);
}

.project-info h1{
    font-family: 'sLABS-bold';
}

.project-links a{
    padding: 1rem 1rem 0 0;
    margin-left: auto;
    margin-right: auto;
}

.display .img-container{
    padding: 0 4rem;
}

@keyframes slide-up{
    0%   {opacity: 0;transform: translateY(100px)};
    100% {opacity: 1;transform: translateY(0)};
}


#lnq-info {
    color: #0155fd;
    text-align: center;
}

#aura-info{
    border: #000 solid 1px;
    border-style: solid none none none;
    padding: 4rem 2rem 9rem 2rem;
}

